<section class="pb-32" id="how-work">
  <div class="container lg:px-10 mx-auto py-36">
    <div class="grid grid-cols-2 ">
      <div>
        <p data-aos="fade-right" data-aos-duration="1500" class="text-primary text-base font-bold uppercase ">Advantages
        </p>
        <p data-aos="fade-right" data-aos-duration="1500" class=" text-6xl font-bold	text-fontDark		">
          Experience the Hedgepie Advantage
        </p>
      </div>
      <div class="flex justify-end items-center">
        <p data-aos="fade-left" data-aos-duration="1200" class="w-96  text-xl text-fontColor 	">
          At Hedgepie, we believe in empowering investors and breaking down barriers that have long held back
          independent fund managers from achieving their true potential. Our platform offers a range of unique features
          designed to make money management simpler, safer, and more effective for everyone:
        </p>
      </div>
    </div>
  </div>
  <div data-aos="fade-up" data-aos-duration="1500" class="grid grid-cols-3  ">
    <!--card-1  -->
    <div class="mt-16">
      <div class="relative ">
        <div class="border-t border-primary w-full h-px border-dashed absolute top-1/2	"></div>
        <div class="w-24 h-24 rounded-full bg-themeWhite flex justify-center items-center z-20 relative ml-16">
          <p class="text-5xl		text-primary">1</p>
        </div>
      </div>
      <div class="ml-16 block pt-16">
        <p class="text-fontDark text-3xl	 font-medium pb-4 ">Decentralized and Democratized Investment:</p>
        <p class=" text-lg	 	text-fontColor	">
          Hedgepie levels the playing field by enabling expert investors to create, manage, and grow investment funds at
          a fraction of the traditional cost. With an average setup cost of just $20, Hedgepie eliminates the
          million-dollar barrier that has kept so many talented fund managers out of the game.
        </p>

      </div>
    </div>
    <!-- card-2 -->
    <div class="mt-16">
      <div class="relative ">
        <div class="border-t border-primary w-full h-px border-dashed absolute top-1/2	"></div>
        <div class="w-24 h-24 rounded-full bg-themeWhite flex justify-center items-center z-20 relative ml-16">
          <p class="text-5xl		text-primary">2</p>
        </div>
      </div>
      <div class="ml-16 block pt-16">
        <p class="text-fontDark text-3xl	 font-medium pb-4 ">Trustless Fund Management:</p>
        <p class=" text-lg	 	text-fontColor	">
          Our innovative smart contracts provide
          an extra layer of security by ensuring fund managers never have direct access to client funds. Instead, they
          can only move assets into pre-
          approved investment instruments, keeping your investments safe and secure.
        </p>
      </div>
    </div>
    <!-- card-3 -->
    <div class="mt-16">
      <div class="relative ">
        <div class="border-t border-primary w-full h-px border-dashed absolute top-1/2	"></div>
        <div class="w-24 h-24 rounded-full bg-themeWhite flex justify-center items-center z-20 relative ml-16">
          <p class="text-5xl		text-primary">3</p>
        </div>
      </div>
      <div class="mx-16 block pt-16">
        <p class="text-fontDark text-3xl	 font-medium pb-4 ">Open-Source Transparency:</p>
        <p class=" text-lg	 	text-fontColor	">
          Hedgepie is built on the principles of transparency and accountability. All funds on our platform are
          open-source, with positions, allocations, tokens, and risk exposures readily available for anyone to review
          and analyze.
        </p>

      </div>
    </div>
    <!-- card-4 -->
    <div class="mt-16">
      <div class="relative ">
        <div class="border-t border-primary w-full h-px border-dashed absolute top-1/2	"></div>
        <div class="w-24 h-24 rounded-full bg-themeWhite flex justify-center items-center z-20 relative ml-16">
          <p class="text-5xl		text-primary">4</p>
        </div>
      </div>
      <div class="mx-16 block pt-16">
        <p class="text-fontDark text-3xl	 font-medium pb-4 ">Rigorous Counterparty Risk Rating:</p>
        <p class=" text-lg	 	text-fontColor	">
          Hedgepie is committed to ensuring all compatible DeFi platforms meet our stringent due-diligence
          criteria. Our rigorous assessment process guarantees that every counterparty is fully audited, and potential
          risks are thoroughly disclosed.
        </p>

      </div>
    </div>
    <!-- card-5 -->
    <div class="mt-16">
      <div class="relative ">
        <div class="border-t border-primary w-full h-px border-dashed absolute top-1/2	"></div>
        <div class="w-24 h-24 rounded-full bg-themeWhite flex justify-center items-center z-20 relative ml-16">
          <p class="text-5xl		text-primary">5</p>
        </div>
      </div>
      <div class="mx-16 block pt-16">
        <p class="text-fontDark text-3xl	 font-medium pb-4 ">Curated Marketplace:</p>
        <p class=" text-lg	 	text-fontColor	">
          With the multitude of funds being created on
          Hedgepie daily, we provide a range of filters to help you find the perfect fund to match your investment goals
          and risk appetite.
        </p>

      </div>
    </div>

  </div>
</section>