
{{ $integration1 := resources.Get "images/integration1.png" }}
{{ $integration2 := resources.Get "images/integration2.svg" }}
{{ $integration3 := resources.Get "images/integration3.svg" }}
{{ $integration4 := resources.Get "images/integration4.svg" }}
{{ $integration5 := resources.Get "images/integration5.svg" }}
{{ $integration6 := resources.Get "images/integration6.svg" }}
{{ $integration7 := resources.Get "images/integration7.svg" }}
{{ $integration8 := resources.Get "images/integration8.svg" }}
{{ $integration9 := resources.Get "images/integration9.svg" }}
{{ $integration10 := resources.Get "images/integration10.svg" }}
{{ $integration11 := resources.Get "images/integration11.svg" }}
{{ $integration12 := resources.Get "images/integration12.svg" }}
{{ $integration13 := resources.Get "images/integration13.svg" }}
{{ $integration14 := resources.Get "images/integration14.svg" }}
{{ $integration15 := resources.Get "images/integration15.svg" }}
<div class="slider">
  
  
  <div class="slider-item" >
    <img src="{{ $integration1.Permalink }}">
  </div>
  <div class="slider-item">
    <img src="{{ $integration2.Permalink }}">
  </div>
  
  <div class="slider-item">
    <img src="{{ $integration3.Permalink }}">
  </div>
  <div class="slider-item">
    <img src="{{ $integration4.Permalink }}">
  </div>
  <div class="slider-item">
    <img src="{{ $integration5.Permalink }}">
  </div>
  <div class="slider-item">
    <img src="{{ $integration6.Permalink }}">
  </div>
  <div class="slider-item">
    <img src="{{ $integration7.Permalink }}">
  </div>
  <div class="slider-item">
    <img src="{{ $integration8.Permalink }}">
  </div>
  <div class="slider-item">
    <img src="{{ $integration9.Permalink }}">
  </div>
  <div class="slider-item">
    <img src="{{ $integration10.Permalink }}">
  </div>
  <div class="slider-item">
    <img src="{{ $integration11.Permalink }}">
  </div>
  <div class="slider-item">
    <img src="{{ $integration12.Permalink }}">
  </div>
  <div class="slider-item">
    <img src="{{ $integration13.Permalink }}">
  </div>
  <div class="slider-item">
    <img src="{{ $integration14.Permalink }}">
  </div>
  <div class="slider-item">
    <img src="{{ $integration15.Permalink }}">
  </div>
  <!-- Add more slider items as needed -->
</div>