<section class=" py-36" id="ttfs">
  <div class="container lg:px-10 mx-auto ">
    <div class="grid grid-cols-2 ">
      <div data-aos="fade-right" data-aos-duration="1500">
        <p class="text-primary text-base font-bold uppercase ">our secret recipe</p>
        <p class=" text-6xl font-bold	text-fontDark		">
          TTFs: the next-generation financial product
        </p>
        <p class="  text-lg text-fontColor 	">
          If you know exchange-traded funds (ETFs), then you are already familiar with the idea of Token-Traded Funds
          (TTFs).
        </p>
        <p class="pt-8  text-lg text-fontColor 	">
          An ETF is a collection of financial products, like stocks, bonds, etc., while a TTF is a collection of
          decentralized financial products, like tokens, lending positions, liquidity positions, stake positions, and
          real-world assets.
        </p>
      </div>
    <div data-aos="fade-left" data-aos-duration="1200">
    {{ $ttfImg := resources.Get "images/TTF.svg" }}
    <div class="flex justify-end items-center">
      <img class="pl-20" src="{{ $ttfImg.Permalink }}">
    </div>
  </div>
  </div>
</section>